@charset "utf-8";


*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
/* formatação do cabeçalho*/
header {
    width: 100%;
    height: 120px;
    background-color: bisque;
    text-align: center;
}

h1 {
    padding-top: 25px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5em;
    color: #5968f3;
    text-shadow: 4px 6px 1px #3f3f3f44;
}
/* formatação do corpo*/
main {
    width: 100%;
    height: 1440px;
    background-color: none;
    /*border: 1px solid #000;*/
}

menu {
    width: 100%;
    height: 40px;
    background-color: #5f9ea0;
}

ul {
    padding-top: 13px;
    padding-left: 12%;
}

li {
    display: inline-flex;
    padding-right: 5px;

}

a:hover {
    cursor: pointer;
}

.identidade {
    margin-top: -18px;
    padding-right: 200px;
    text-align: right;
}
/*Formatação da área de exibição da lista dos livros e revistas*/
section {
    float: left;
    position: relative;
    left: 10vw;
    height: 1400px;  /* aumentar conforme a tbela com 10 registros*/
    /*border: 1px solid #000;*/
}
.livros > h3, .revistas > h3 {
    margin: 15px 0px -25px 35px;
}

#idObrig {
    margin: 5px 0px -25px 35px;
    font-size: 0.8em;
    color: #aa0101;
}

section.livros, section.revistas {
    width: 20vw;
    background-color: #b8860b;
}

form {
    padding: 50px 0px 0px 1vw;
}

form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
}

.obrig::after {
    content: "*";
    color: #aa0101;
}

/*formatação da busca dos livros e revistas*/
.ordLivros > form, .ordRevistas > form {
    padding-top: 10px;
}

form input, .ordLivros > form > input, .ordRevistas > form > input {
    width: 250px;
    height: 20px;
    border-radius: 15px;
    padding-left: 10px;
}

form input.botao {
    width: 100px;
    height: 30px;
    margin: 25px 0px 15px 15px;
    padding: 0px;
    border-radius: 15px;
}

.arq {
    display: inline-flex;
}

.arq > input.arqmorto {
    width: 20px;
    height: 45px;
    margin: center;
    margin-right: 15px;
}

div.ordLivros > h3, div.ordRevistas > h3 {
    margin: 30px 0px 0px 35px;
}

.tipoLivros > label, .tipoRevistas > label {
    padding-right: 5px;
    display: inline-block;
}

.tipoLivros > select, .tipoRevistas > select {
    width: 85px;
    height: 25px;
    border-radius: 15px;
}

#idTipo {
    margin-right: 20px;
}

/*formatação da área que exibe a lista dos livros e revistas*/
section.tblLivros, section.tblRevistas {
    display: block;
    width: 60vw;
    text-align: center;
    background: none;
    /*background-image: url("imagens/estante.jpg");*/
    background-position: center;
}

.tblLivros > h2, .tblRevistas > h2 {
    text-shadow: 2px 2px 3px #ffffff;
}

table {
    border-collapse: collapse;
    margin: auto;
}

tr#roll {
    background-color: #b8860b;
}

td {
    border-bottom: 1px solid #000000;
    width: 150px;
    height: 110px;
}

thead {
    border-style: none;
    border-color: #575656;
    border-bottom-width: 5px;
    border-bottom-style: double;

}

img {
    display: block;
    margin: auto;
}

.lista:nth-child(even) { /* Todas as linhas ímpares da tabela*/
    background-color: #ffffffd0;
}

.lista:nth-child(odd) { 
    background-color: #b3b0b0c5;
    
}

.nomes > a:link {
    color:#000000;
}

.nomes > a:visited {
    color:#8e2ce9;
}

th {
    height: 50px;
    color: #000000;    
}

td.nomes {
    width: 120px;
}

td.data {
    width: 100px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 25px;
}

h3 {
    margin-top: 200px;
}
 /*formatação do rodapé listar e editar livros e revistas*/
footer {
    position: relative;
    left: 10vw;
    width: 80.1vw;
    height: 50px;
    margin-top: 0px;
    background-color: #a8a8a8;
    text-align: center;
}

.design {
    padding: 20px 0px 0px 0px;
}
/*Formatação da exibição do livro e revista no editar*/
#idEditLivro {
    text-align: center;
    margin: 20px 0px 10px 0px;
}

.tbledicao {
    margin: 15px 5px 0px 10px;
}

.visual > td, .visual > th {
    padding-top: 10px;
    border: none;
    height: 35px;
    font-size: 1em;
}

#idCapa {
    width: 50px;
    text-align: left;
}

.visual > th {
    text-align: right;
}

.visual > td {
    text-align: left;
}

.estante {
    text-align: center;
    color: #940000;
    font-size: 1.3em;
    font-weight: bold;
}

.titulo {
    padding-right: 10px;
}

.edicao {
    display: inline-block;
    position: relative;
    top: 30px;
    width: 900px;   
    background-color: #a8a8a88c;
    border: 1px solid #000000;
    margin: center;
    padding: 0px 35px 0px 35px;
}
/*formatação do formulario da edição dos livras e revistas*/
fieldset {
    float: left;
    position: relative;
    padding: 0px 35px 30px 35px;
    border: none;
}

fieldset > label {
    margin-top: 10px;
    color: #bf15f3;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px #000000;
    text-align: left;
}

fieldset > input {
    width: 350px;
    height: 30px;
    border-radius: 15px;
    padding-left: 7px;
    font-size: .85em;
}

fieldset > textarea {
    resize: none;
    width: 350px;
    font-size: 0.95em;
}

fieldset > #idCapa {
    width: 350px;
}

#direito {
    border-left: double;
}

.opcao {
    border-top: double;
    text-align: center;
    display: block;
    width: 860px;
    padding: 0px 0px 0px 0px;
}
.opcao > label {
    display: inline-block;
    padding-top: -30px;
    width: 50px;
}

.opcao > input {
    width: 150px;
}

.opcao > .checar {
    width: 15px;
    margin-top: 10px;
}
.opcao > .titulo2:first-child {
    width: 200px;
}

opcao > .titulo2 {

}

#idbotao {
    display: block;
    position: relative;
    margin: 0px 0px 0px 315px;
    padding: 0px;
}

.botao {
    display: inline-block;
    width: 100px;
    height: 25px;
    padding: 0px;
    border-radius: 15px;    
}