@charset "utf-8";

@import "root.css";

main {
    display: grid;
    grid-template-columns: 10vw 20vw 60vw 10vw;
    grid-template-rows: 140px 40px 1370px 50px;
}

header {
    grid-column: 1 / 5;
    grid-row: 1;
    background-color: var(--cor3);
    text-align: center;
}

h1 {
    padding-top: 30px;
    font-size: var(--fontSize4);
    color: var(--cor0);
    text-shadow: var(--sombra0);    
}

p {
    font-size: var(--fontSize1);
    color: var(--cor5);
}

p.adic {
    margin: -8px 0 0 35px;
}

#idIdent {
    margin: 10px 0 0 75vw;
    
}

.ident {
    text-align: center;
    color: var(--cor7);
}

menu {
    grid-column: 1 / 5;
    grid-row: 2;
    background-color: var(--cor2);
}

ul {
    padding: 10px 0 0 11%;
}

li {
    display:inline-flex;
    padding-right: 10px;
    font-size: var(--fontSize2);
}

a {
    color: var(--cor7);
    text-decoration: none;
}

a:hover {
    color: var(--cor1);
}

#idData {
    margin: -20px 10vw 0 0;
    font-size: var(--fontSize1);
    text-align: right;
    color: var(--cor7);
}
/* Adicionar na estante */
#idAdicionar {
    grid-column: 2;
    grid-row: 3;
    background-color: var(--cor8);
}

#idAdicionar > menu {
    margin-top: -40px;
}

#idSubmenu > ul {
    padding: 5px 0 5px 0;
    text-align: center;
}

#idAdicionar > h3 {
    padding: 15px 0px 5px 35px;
    font-size: var(--fontSize3);
}

form {
    padding: 20px 0px 0px 2vw;
}

label {
    display: block;
    margin: 15px 0px 5px 0px;
    padding-left: 15px;
    font-size: var(--fontSize1);
}

.obrig::after {
    content: "*";
    color: var(--cor5);
}

input {
    width: 16vw;
    max-width: 300px;
    height: 25px;
    margin: 3px 0px 10px 0px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: var(--fontSize0);
}

.botao {
    display: inline;
    width: 6.5vw;
    max-width: 100px;
    min-width: 85px;
    height: 30px;
    margin: 20px 0.9vw;
    padding: 0px;
    font-size:var(--fontSize1);
    font-weight:bold;
    color: var(--cor0);
    text-align: center;
    border-radius: 15px;
    background-image: var(--botaoAltoRelevo);
    box-shadow:  var(--sombraAltoRelevo);
    border: none;
}

#idTitBusca {
    padding: 15px 0px 5px 35px;
}

#idArea04 {
    display: grid;    
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
}

#idArea05 {
    margin: -25px 0 10px 0;
}

select {
    display: inline;
    width: 6vw;
    max-width: 150px;
    height: 20px;
    margin: 0 1.3vw 0 0;
    padding: 0;
    font-size: var(--fontSize0);
    text-align: center;
    border-radius: 10px;
}

#idArea06 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    margin-top: 25px;
    padding-left: 15px;
}

#idArea07 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    margin-top: 25px;
    padding-left: 15px;
}

#idArea07 > label {
    margin: 0;
    padding: 0;
    text-align: left;
}

#idArea08 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px;
    margin: 0;
}

.optTexto {
    margin: 0;
    padding: 5px 20px 0 1.5vw;
    color: var(--cor7);
}
/* Listar estante */
#idListar {
    grid-column: 3;
    grid-row: 3;
    text-align: center;
    background: none;
    background-image: url("imagens/estante.png");
    background-size: contain;
}

#idTitEstante {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: var(--fontSize3);
    color: var(--cor1);
    text-shadow: var(--sombra1);
}

table {
    margin: auto;
    padding: 0;
}

#idIndice {
    background-color: var(--cor9);
}

thead {
    height: 50px;
    border-style: none;
    border-color: var(--cor10);
    border-bottom-width: 5px;
    border-bottom-style: double;
    font-size: var(--fontSize1);
}

td {
    height: 110px;
    border-bottom: 1px solid var(--cor7);
    font-size: var(--fontSize1);
}

tr:nth-child(even) {
    background-color: var(--cor11);
}

tr:nth-child(odd) {
    background-color: var(--cor12);
}

.listaCapa, .listaData {
    width: 80px;
}

.listaNome {
    width: 180px;
}

img {
    margin: auto;
}

#idTabela01 {
    min-height: 630px;
}

nav {
    margin: 50px 0 0 -80px;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    text-shadow: var(--sombra3);
    color: var(--cor3);
}

.pagi {
    padding: 0 20px;
}

.paginacao {
    color: var(--cor3);
}

.paginacao:hover {
    color: var(--cor5);
}

#idPaginas {
    word-spacing: 10px;
}

footer {
    grid-column: 2 / 4;
    grid-row: 4;
    background-color: var(--cor6);
}

footer > p {
    padding-top: 20px;
    text-align: center;
    font-size: var(--fontSize2);
    color: var(--cor7);
}

@media screen and (max-width: 1360px){
    main {
        grid-template-columns: 25vw 75vw;
    }

    header {
        grid-column: 1 / 3;
    }

    menu {
        grid-column: 1 / 3;
    }
    
    ul {
        display: block;
        padding: 8px 0 0 10px;
    }
    /* Adicionar na estante */
    #idAdicionar {
        grid-column: 1;
    }
    /* Listar estante */
    #idListar {
        grid-column: 2;
    }

    footer {
        grid-column: 1 / 3;
    }
}

@media screen and (max-width: 1024px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 30px 460px 1270px 50px;
    }

    header {
        grid-column: 1;
        grid-row: 1;
        padding-top: 10px;
    }

    #idIdent {
        margin: 1px 0 0 75vw;        
    }

    menu {
        grid-column: 1;
        grid-row: 2;
    }

    li {
        padding-right: 5px;
    }

    #idData {
        margin-right: 8px;
        padding: 4px 0 0 25px;
    }

    #idAdicionar {
        display: grid;
        grid-template-columns: 5vw 1fr 5vw;
        grid-column: 1;
        grid-row: 3;
    }

    #idSubmenu {
        grid-column: 2;
        margin-top: -20px;
    }

    #idSubmenu > ul {
        padding-left: 10px;
        text-align: justify;
    }

    #idSubmenu > ul > li {
        padding-right: 40px;
    }

    #idAdicionar > h3 {
        grid-column: 2;
    }

    #idAdicionar > p {
        grid-column: 2;
    }

    #idFormAdd {
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 50px 50px;
        margin: 0 1.5vw;
        padding: 5px 0 0 15px;
    }

    label {
        margin: 3px 0px 3px 0px;
        padding-left: 15px;
    }

    input {
        width: 40vw;
        height: 20px;
        margin: 1px 0px 5px 0px;
        padding-left: 10px;
    }
    
    #idArea00 {
        grid-column: 1;
        grid-row: 1;
    }

    #idArea01 {
        grid-column: 2;
        grid-row: 1;
    }

    #idArea02 {
        grid-column: 1;
        grid-row: 2;
    }    

    #idArea03 {
        grid-column: 2;
        grid-row: 2;
    }

    #idArea04 {
        grid-column: 1 / 3;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 10px;
    }

    #idArea04 > input, #idArea08 > input {
        margin: auto;
    }

    .botao {
        width: 80px;
        height: 20px;
        margin-top: 10px;
        margin-bottom: 0;
        padding: 0;
    }
    
    #idTitBusca {
        margin-top: -15px;
        margin-bottom: -15px;
    }

    #idFormBusca {
        grid-column: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 45px 40px 40px 40px;
        margin: 5px 1.5vw 0 1.5vw;
        padding-left: 15px;
    }

    #idArea05 {
        grid-column: 1 / 3;
        grid-row: 1;
        margin: -10px 0 5px 0;
    }

    #idLetra {
        width: 100%;
        max-width: 90%;
    }

    #idArea06 {
        grid-column: 1 / 3;
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px;
        margin: 0; 
        padding: 0;
        text-align: center;
    }

    .seletor {
        width: 20vw;
        max-width: 150px;
        margin: 0 10vw;
        padding: 0;
        
    }

    #idArea07 {
        grid-column: 1 / 3;
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px;
        margin: 0;
        padding: 0;
    }

    #idArea07 > label {
        text-align: center;
    }
    
    .optTexto {
        margin: 0;
        padding: 5px 25px 0 1.5vw;
        color: var(--cor7);
    }

    #idArea08 {
        grid-column: 1 / 3;
        grid-row: 4;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px;
        margin: 0;
        padding: 0;
    }

    #idListar {
        grid-column: 1;
        grid-row: 4;
    }

    nav {
        margin: 8px 0 0 0;
        text-align: center;
    }

    .pagi {
        padding: 0 10px;
    }

    #idPaginas {
        word-spacing: 5px;
    }

    footer {
        grid-column: 1;
        grid-row: 5;
    }
}

@media screen and (max-width: 600px) {
    header > h1 {
        padding-top: 20px;
    }

    #idIdent {
        margin: 10px 0 0 60vw;        
    }

    ul {
        padding: 7px 0 0 10px;
    }

    #idData {
        margin-right: 8px;
        padding: 6px 0 0 25px;
    }

    #idAdicionar {
        display: block;
    }

    /* .seletor, #idArea07 > label {
        width: 130px;
    } */
}