@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

header {
    height: 120px;
    padding-left: 20px;
    text-align: center;
    background-color: #ffe4c4;
}

h1 {
    padding-top: 20px;
    font-size: 3.5em;
    color: #5968f3;
    text-shadow: 4px 6px 1px #3f3f3f44;
}

.identidade {
    padding: 10px 12% 0px 0px;
    font-size: 1.2em;
    text-align: right;
}

nav {
    height: 40px;
    padding-left: 20px;
    background-color: #5f9ea0;
}
/* menu hamburgue --> */
span#burguer {
    display: none;
}

menu {
    display: block;
}

ul {
    padding: 10px 0px 0px 10%;
    font-size: 1.2em;
}

li {
    display: inline-flex;
    padding-right: 10px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #fdfd84;
}

.pagina {
    height: 880px;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
/* dados do livro */
h3 {
    margin-top: 20px;
    font-size: 1.8em;
}

#dados {
    padding-left: 20px;
    background-color: #b8860b;
}

#tblEdicao01 {
    display: block;
    margin-right: 15px;
    border-collapse: collapse;
}

#tblEdicao02 {
    display: none;
}

th {
    height: 35px;
    text-align: right;
}

td {
    height: 35px;
    padding-left: 10px;
}

.capa {
    min-height: 150px;
    text-align: center;
    font-weight: bold;
    color: #940000;
}

.opinaTit {
    text-align: left;
}

.opina {
    height: 120px;
    text-align: top;
}

/* .alteracao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
} */
/* Alteração do livro */
h2 {
    margin: 25px 0px;
    font-size: 2.3em;
    color: #fdfd84;
    text-shadow: 3px 3px 1px #000000;
}        

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    /* padding: 10px 0px; */
}

form  label {
    display: block;
    margin: 15px 0px 5px 0px;
    padding-left: 35px;
    text-align: left;
    color: #fdfd84;
    text-shadow: 3px 3px 1px #000000;
    font-weight: bold;
    font-size: 1.3em;
}

#alt01 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
}

#alte02 > input, #idText01 > input {
    width: 75%;
    height: 25px;
    border-radius: 15px;
    padding: 0px 10px;
}    

form textarea {    
    width: 80%;
    padding: 10px 10px;
    columns: 50;
    border-radius: 15px;
}

#idText01 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 75%;
    height: 25px;
    border-radius: 15px;
    padding: 0px 10px;
}

#divNum01 {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column: 1;
}

.divNum > label.formNum {
    width: 35%;
    border: 1px solid #000000;
}

.divNum > input.formNum {
    width: 25%;
    height: 25px;
    margin-left: -48%;
    border-radius: 15px;
    padding: 0px 10px;
}

#alte03 {
    padding-left: 25%;
}

#alte03 > label {
    /* display: inline; */
    font-size: 1.4em;
    margin-top: 25px;
}

.desapa, .ceder {
    margin: 15px 0px 0px -30%;
    padding: 0px;
}

.resp {
    display: inline;
    margin: 0px 30px 0px 10px;
    color: #fdfd84;
    text-shadow: 3px 3px 1px #000000;
    font-size: 1.3em;
}

#alte05 {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 30px;
}

.botao {
    width: 40%;
    height: 35px;
    margin: 0px 36px;
    border-radius: 15px;
}





 /* #classificar {
    margin: 25px 0px -35px 0px;
}    

select {
    width: 45%;
    height: 20px;
    border-radius: 25px;
    font-size: 1.2em;
}    

.blocoBusca02 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 15px 0px 0px 0px;
    

}  */  

#tabela {
    background-color: none;
    background-image: url("estante.png");
    background-size: contain;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
    text-align: center;
}





/*.nomes {
    width: 120px;
}

.data {
    width: 100px;
}

img {
    display: block;
    margin: auto;
}

.dados:nth-child(even) {
    background-color: #ffffffd0;
}

.dados:nth-child(odd) {
    background-color: #b3b0b0c5;
} */

footer {
    display: block;
    height: 70px;
    padding-left: 20px;
    background-color: #a8a8a8;
    text-align: center;
}

.design {
    padding-top: 25px;
    font-size: 1.2em;
    font-weight: bolder;
    text-align: center;
}

@media screen and (max-width: 1024px) {

    .identidade {
        padding: 10px 6% 0px 0px;
    }
    
    ul {
        padding: 10px 0px 0px 5%;
    }
    
    .pagina {
        padding: 0px 5%;
        grid-template-columns: 1fr 2.5fr;
    }

    th, tr {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 766px) {

    header {
        height: 60px;
    }

    h1 {
        font-size: 2em;
        padding: 10px 0px 0px 0px;
    }
    
    .identidade {
        margin: -5px 0px 0px 0px;
        padding: 0px 10px 15px 0px;
        font-size: 1em;
    }

    nav {
        height: 60px;
        font-size: 0.8em;
    }    

    span#burguer {
        display: inline-block;
        font-size: 3em;
        color: #000000;
        text-align: left;
        margin: 0px;
        padding: 13px 0px 0px 0px;
    }
    
    span#burguer:hover {
        color: #fdfd84;
        cursor: pointer;
    }

    #itens {
        display: none;
    }    

    ul {
        padding: 0px;
        margin-top: -35px;
        font-size: 1.5em;
        text-align: center;
    }    
    
    .pagina {
        height: 1230px;
        display: block;
        padding: 0px;
    }

    #dados {
        margin: -20px 0px 0px 0px;
    }

    #tblEdicao01 {
        display: none;
    }/*

    #tblEdicao02 {
        display: block;
        margin-right: 15px;
        border-collapse: collapse;
        margin-bottom: 25px;
    }

    th {
        height: 20px;
        text-align: right;
    }
    
    td {
        width: 10%;
        height: 20px;
        padding: 0px 0px 0px 5px;
        margin: 0px;
    }

    .capa {
        padding: 0px;
    }
    
    .opinaTit, .opina {
        text-align: left;
    }


    
    h3 {
        padding-top: 10px;
    }

    .botao {
        width: 45%;
        height: 20px;
        margin: 15px 4% 0px 0.5%;
        font-size: 0.9em;
    }

    #classificar {
        margin-top: 5px;
    }

    label.arqMorto {
        font-size: 1.2em;
                
    }

    select.tipos {
        width: 48%;
        margin-right: 5px;
    }

    .blocoBusca {
        height: 60px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #idArqMorto {
        margin-top: 25px;
    }

    .arqMorto {
        text-align: left;
        padding-top: 25px;
        
    }

    #tabela {
        height: 880px;
        margin: -25px 0px 0px 0px;
    }

    table {
        font-size: 0.8em;
    }

    footer {
        height: 40px;
        margin: 0px;
        padding: 0px;
    }

    .design {
        padding-top: 15px;
        font-size: 0.8em;
    }
} */

