@charset "utf8";

@import "root.css";

* {
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    border: none;
    border-collapse: collapse;
}

main {
    display: grid;
    grid-template-columns: 10vw 80vw 10vw;
    grid-template-rows: 140px 40px 715px 50px;
}

header {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: var(--cor3);
    text-align: center;
}

h1 {
    padding-top: 30px;
    font-size: var(--fontSize4);
    color: var(--cor0);
    text-shadow: var(--sombra0);

}

#idIdent {
    margin: 10px 0 0 75vw;
    
}

.ident {
    text-align: center;
    font-size: var(--fontSize1);
    color: var(--cor7);
}

menu {
    grid-column: 1 / 4;
    grid-row: 2;
    background-color: var(--cor2);
}

ul{
    padding: 1vh 0px 0px 11%;
}

li {
    display:inline-flex;
    padding-right: 10px;
    font-size: var(--fontSize2);
}

a {
    color: var(--cor7);
    text-decoration: none;
}

a:hover {
    color: var(--cor1);
}

#idData {
    margin: -20px 12vw 0 0;
    font-size: var(--fontSize1);
    text-align: right;
    color: var(--cor7);
}

section {
    grid-column: 2;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 350px 1fr;
    grid-template-rows: 30px 320px 320px 45px;
    background: none;
    background-image: url("imagens/estante.png");
    background-size: contain;
}

fieldset {
    width: 100%;
    height: 100%;
    background-color: var(--cor4);
    border: 5px solid var(--cor6);
    border-radius: 25px;
    box-shadow: 6px 5px #00000073;
}

/* div {
    margin: 50px 0 0 0;
} */

#idEntrar {
    grid-column: 2;
    grid-row: 2;
}

#idCadastrar {
    grid-column: 2;
    grid-row: 2 / 4;
}

legend {
    margin: 0 0 0 -65px;
}

button {
    width: 140px;
    height: 35px;
    font-size:medium;
    font-weight:bold;
    color: var(--cor0);
    background-color: var(--cor3);
    border: 1px solid var(--cor7);
    border-radius: 10px;
}

#idEntCad {
    display: block;
    margin: 0px;
    font-size:larger;
    text-align: center;
}

#idLogar {
    margin-top: 25px;
}

h2 {
    margin: -2px 0;
    text-align: center;
}

form {
    margin: 5px 10px;
    text-align: center;
}

label {
    display: block;
    padding: 10px 10px 5px 10px;
    font-size: var(--fontSize1);
    text-align: left;
}

.controleCad > label {
    margin-top: -3px;
}

input {
    width: 300px;
    height: 25px;
    display: block;
    margin-bottom: 15px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: var(--fontSize1);
}

.controleCad > input {
    margin-bottom: 5px;
}

#idEntrar {
    margin: 10px 0 0 0;
    text-align: center;
}

#idCadastrar {
    margin: 10px 0 0 0;
    /* margin: 10px 0; */
    text-align: center;
}

.controleCad li {
    display: block;
    font-size: smaller;
}

.controleCad small {
    visibility: hidden;
    display: block;
    margin-top: -5px;
    text-align: center;
    color: var(--cor7);
}

.controleCad.erro small {
    visibility: visible;
    color: var(--cor5);
    -webkit-text-stroke: 0.15px #000;
}

.controleCad.sucesso small {
    visibility: hidden;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: var(--fontSize2);
    color: var(--cor5);
    text-align: center;
}    

footer {
    grid-column: 2;
    grid-row: 4;
    background-color: var(--cor6);
}

footer > p {
    padding-top: 15px;
    text-align: center;
    font-size: var(--fontSize2);
    color: var(--cor7);
}

@media screen and (max-width: 1440px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 140px 40px 715px 50px;
    }

    header {
        grid-column: 1;
        grid-row: 1;
    }

    menu {
        grid-column: 1;
        grid-row: 2;
    }

    ul {
        padding-top: 2vh;
    }

    section {
        grid-column: 1;
        grid-row: 3;
    }

    footer {
        grid-column: 1;
        grid-row: 4;
    }
}